body {
  text-align: center;
  font-family: Arial;
  background-color: #f2f2f2;
}

h1 {
  color: #2c3e50;
}

button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
}
